.container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1439px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
