.catalogPage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}
.catalogList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.loadBtn {
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);
  background-color: white;
  transition: 250ms ease;
}
.loadBtn:hover,
.loadBtn:focus {
  border: 1px solid var(--green-hover);
}
.catalogBtnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filtersBtn {
  border-radius: 200px;
  padding: 16px 60px;
  width: 100%;
  height: 56px;
  background: var(--grey-green);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: 250ms ease;
}
.filtersBtn:hover,
.filtersBtn:focus {
  background: var(--green-hover);
}
.filtersWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.sidebarContainer {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  position: absolute;
  top: 72px;
  width: 100%;
  z-index: 2;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
}
.sidebarContainer.active {
  position: static;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
}
@media only screen and (min-width: 768px) {
  .catalogList {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1440px) {
  .catalogPage {
    flex-direction: row;
    padding-top: 64px;
    gap: 32px;
  }
  .catalogList {
    gap: 32px;
  }
  .filtersWrap {
    min-width: 360px;
  }
  .filtersBtn {
    display: none;
  }
  .sidebarContainer {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    top: 72px;
    width: 100%;
    z-index: 2;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s;
  }
}
